page-location {

    #map {
      width: 100%;
      height: 70%;
    }
    .title {
      font-size: 1.5rem !important;
      white-space: pre-line;
    }

    ion-content {
     // background-color: transparent !important;
      background-color:rgb(99, 76, 76) !important;
    }

    .search-box {
      position: absolute;
      top: 2%;
      z-index: 999;
      border: 0 !important;
      box-shadow: none !important;
    }
    .range-md .range-knob-handle .range-pin {
      transform: translate3d(0, 0, 0) scale(1); }
    
    .range-md:not(.range-has-pin) .range-knob-handle .range-knob {
      transform: scale(1); }
    
    .range-ios .range-knob-handle .range-pin {
      transform: translate3d(0, 0, 0) scale(1); }

    .ios, .md {
      home-page {
        .scroll {
          height: 100%
        }
        #map {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  