page-claims-list {
    .item-class { 
        background-color: rgb(99, 76, 76) !important;
    }

    .item-class.item-block .item-inner {
        border-bottom: rgb(99, 76, 76) !important;
    }

    .vertical-center {
        display: flex;
        align-items: center;
        vertical-align: middle;
        background-color:rgb(99, 76, 76) !important;

        ion-item {
            margin: auto; 
            background-color:rgb(99, 76, 76) !important;
        }
    }

    .title {
        font-size: 1.5rem !important;
        white-space: pre-line;
        color: color($colors, primary) !important;
    }

    .small_title {
        font-size: 1.2rem !important;
        white-space: pre-line;
        color: color($colors, primary) !important;
    }

    .dealOverlay{
        width: 70%;
        height: 20px;
        position: absolute;
        z-index: 99;
        top:1px;
        left:1px;
        //opacity: 0.5;
        background-color: rgb(240, 6, 6) !important;
        color: rgb(245, 241, 241) !important;
    }

    .customBtn {
        background-color: rgb(241, 42, 42) !important;
        color: rgb(245, 241, 241) !important;
        text-transform: none !important;
        padding: 5px;
        height: 20px !important;
    }

    .label {
        margin: 5px;
    }
        
    .item-inner {
        padding-right: 8px!important;
    }
        
    ion-card {
        margin: 0px !important;
        margin-bottom: 2px !important;
        width:100% !important;
        margin-left: 3px !important;
        margin-right: 0px !important;
        position: relative;
    }

    ion-card:last-of-type {
        margin-bottom: 0 !important;
    }
    ion-card-content {
        margin: 1px !important;
        text-align: center !important;
        padding: 0 !important;
    }
    .strikethrough {
        text-decoration: line-through;
    }

    .main-content {
        background-color: grey;
        box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.3);
    }

    .scroll-content {
        padding-top: 0 !important;
    }

    .swipe-area {
        height:100%;
        width:100%;
    }

    .slide-image {
        height: 60px !important ;
        width: 120px !important;
    }
}
