page-merchant {
    .title {
        font-size: 1.5rem !important;
        white-space: pre-line;
    }

    .address {
        font-size: 1rem !important;
        text-align: left;
        white-space: pre-line;
        font-family: Roboto,monospace;
    }

    .small_title {
        font-size: 1rem !important;
        text-align: justify;
        white-space: pre-line;
        color: color($colors, primary) !important;
    }

    .details {
        font-size: 1rem !important;
        text-align: justify;
        white-space: pre-line;
        font-family: Roboto,monospace;
    }

  #map {
    height: 40%;
    width: 100%;
  }

  .swiper-pagination-bullet-active{
    background: color($colors, primary) !important;
  }
  
}
